body {
  font-family: "Verdana, Arial, sans-serif";
}

td {
  padding: 6px;
  border-bottom: 1px solid gray;
}

th {
  background-color: #b7d0ff;
  font-weight: bold;
  padding: 12px 0 12px 6px;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;

  table-layout: fixed;
  width: 100%;
}

.center {
  margin: auto;
  padding: 60px;
  width: 60%;
}

h1 {
  text-align: center;
}

.lowEmployment {
  background-color: #ff9e9e;
}

.highEmployment {
  background-color: #abffbd;
}

tr {
  background-color: #ffffff;
}

tr:nth-of-type(2n) {
  background-color: #f2f2f2;
}
